.Register-input{
    font-family: FontAwesome;
    background-color: rgb(33, 30, 84);
    color: white;
}
.Register{

    display: flex;
    justify-content: center;
    height: 640px;
    width:500px ;
    background-color: rgb(65, 65, 167);
    margin: auto;
    border-radius: 5px;
    
}
form{
    
    width: 300px;
    margin-top: 40px;
}
.Register-btn{
    height: 50px;
    width:300px;
    background-color: yellow;
    color: blue;
}
.Register-head{
    color: white;
    
}
